body {
  padding: 0;
  margin: 0;
}

#boundary {
  position: absolute;
  left: 50px;
  top: 50px;
  width: 600px;
  height: 600px;
  background-color: grey;
}

#car {
  position: absolute;
  width: 50px;
  height: 100px;
}

.east {
  transform: rotate(-0.25turn);
}

.west {
  transform: rotate(0.25turn);
}

.north {
  transform: rotate(0.5turn);
}

.south {
  transform: rotate(0turn);
}
